header,
main {
  text-align: center;
  width: 100%;
}

main button {
  padding: 20px 50px;
  font-size: 20px;
  position: relative;
}

main p {
  opacity: 0;
}

p.visible {
  opacity: 1;  
}

.btn {
  padding: 0;
  font-size: 0;
  width: 9%;
  height: 40px;
  margin-bottom: 80px;
}

.checkbox-number {
  position: absolute;
  width: 9%;
  transform: translate(-101%, 15px);
  margin-bottom: 80px;
  pointer-events: none;
}

.clicked {
  pointer-events: none;
}

.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  position: absolute;
  left: 13px;
  bottom: 20%;
}

.bounce-1 {
  animation-delay: 0.2s;
  left: 23px;
}
.bounce-2 {
  animation-delay: 0.4s;
  left: 39px;
}
.bounce-3 {
  animation-delay: 0.6s;
  left: 49px;
}
.bounce-4 {
  animation-delay: 0.8s;
  left: 63px;
}
.bounce-5 {
  animation-delay: 1s;
  left: 73px;
}

@keyframes bounce {
  0% {
   bottom: 20%;
 }
 50% {
   bottom: 30%;
 }
   0% {
    bottom: 20%;
  }
}
